.Calendar{
  width:500px;
  border: black 1px solid;
}
.Calendar .Cal-Header{
  text-align: left;
  padding-left: 1.5rem;
}
.Calendar .Cal-Body{
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  aspect-ratio: 1/1;
}
.Calendar .Cal-Body .cal-square{
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.Calendar .Cal-Body .cal-square.active p{
  font-weight: bold;
}
.Calendar .gooWrapper{
  aspect-ratio: 1/1;
  position: relative;
  width: 100%;
  height: 100%;
}
.Calendar .gooWrapper .gooey{
  background-color: rgba(0, 0, 0, .5);
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  z-index: -1;
  aspect-ratio: 1/1;
}
